/* aanmaak datum:18/12/2018, 13:40,  
authoror: Mohamad Dian*/

body
{
	background-color: #e6e6ff;
	margin: 1%;
}

nav{

	overflow: auto;
	width: 45%;
	height: 35px;

	margin-left: 27%;
     
	border-width: 0px 0px 3px 0px;
	border-style: double;
	border-color:  #8080ff;
	border-radius: 50px;
	padding: 3px;
	
   
    display: block top;
	font-style: none;
	display: inline-block;

	position: sticky;
	/* 
	box-shadow: inset 6px 6px 15px 0.6px #0c2a18de;	

	border: 1px solid black; 
	border-radius: 4px;

	background: linear-gradient(to right, #ffff99 20%, #f2f2f2 60%, #b3ffb3);
 */
}

nav ul{

	margin: 0px;
	padding: 0px;
	overflow: hidden;
	list-style: none;
}

nav ul li{

	float: left;
	margin-left: 10px;

}

nav ul li a{
  
    border-width: 1px 0px 0px 0.34px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;

	margin: 1px 15px 15px 15px;
	padding: 2px 2px 2px 2px;

	font-size: 120%;

	background: #99ebff;
	box-shadow: 4px 8px 11px #404040; 
	
	text-decoration: none;
	display: inline-block;
	/*
	height: 30px;
	border: 1px solid #4d0000; 
	
	 */
}


a:hover
{
	opacity: 0.9;
	background: linear-gradient(to right, yellow, white, yellow);
}
a:active
{
	opacity: 0.8;
    background: linear-gradient(to right, white, yellow 66%, white);
	margin-top: 4px;
	border-radius: 50%;
	font-size: 120%;
}


#imgingrid1{
	width:70%;
	border-radius: 10px;
}
#imgingrid2{
	height: 90%;
	width: 100%;
	border-radius: 10px;
}
#imgingrid3{
	height: 100%;
	width: 100%;
	border-radius: 10px;
	
}

/* grid-contener----------------------------------- */


.grid-container {
	
	width: 80%;
	height: 189px;
	
	margin-left: 9%;
	margin-top: 2%;
	overflow: auto;

    display: grid;
	grid-template-areas: 'myArea myArea myArea myArea';

	grid-gap: 10px;
	
	padding: 0px;
}
.foto3{
	grid-row: 1;
	grid-column: 3/4;
}

.grid-container > div {
		background-color: #9999ff;
		padding: 10px;
}