/* aanmaak datum:18/12/2018, 13:40,  
Author: Mohamad Dian*/

:root{
	--color1: #1af186f5; 
	--color2: red;
	--color3: blue;
	--box-shadow: 1px 2px 5px#3d3d5c;
}
body
{
	background-color: rgba(17, 0, 255, 0.199);
	/* background-color: #e6e6ff; */
	/* background-image: url("../images/1.png"); */
	/* background-image: url("../images/f.jpg"); */
	/* background-image: url("../images/h.jpg"); */
	/* background-image: url("../images/e.jpg"); wit vervangen bij de divfoto */
	/* background-image: url("../images/d.jpg"); */
	background-image: url("../images/h.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	
}

/* filter: blur(8px);
-webkit-filter: blur(8px); */


nav{ 
	margin-left:  5%;
	padding: 2px;
	height: 30px;
	width: 87%;
	/* box-shadow: 2px 3px 5px #0a0a0f; */
	border-width: 0px 0px 1px 0px;
	border-style: double;
	border-color:  #8080ff;
	border-radius: 5px;
	overflow: hidden;
    text-align: center;
	font-style: none;
	position: fixed;
	box-shadow: inset 1px 1px 5px 1px #0066ffad;
	z-index: 1;
	background-color: #00053025;
	
	background-size: cover;
	
	/* background-color: #404040;	 */
	/* background: linear-gradient(to right, #ffff99 20%, #f2f2f2 60%, #b3ffb3); */
}
nav ul{
	display: inline-block;
	/* overflow: hidden;*/
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	vertical-align: center;
	float: left;
}
nav ul li a{
	font-size: 110%;
	font-family: Berlin Sans FB;
	color: white;
	
    border-width: 1.5px  0px 1.5px 0px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
	margin: 1px 15px 5px 15px;
	padding: 2px 2px 2px 2px;
	background-color: #00247f;
	/* box-shadow: 4px 8px 11px #404040; */
	
	text-decoration: none;
	display: inline-block;

	/*
	#1af1d4f5 backgroung aaaaa
	height: 30px;
	border: 1px solid #4d0000; 
	 */
}
a{
	font-size: 110%;
	font-family: Berlin Sans FB;
	color: white;

    border-width: 1.5px  0px 1.5px 0px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
	margin: 1px 15px 5px 15px;
	padding: 2px 2px 2px 2px;
	background-color: #00247f;
	text-decoration: none;
	display: inline-block;
}
.foto:hover{
	filter: invert(100%); 
}
a:hover
{
	opacity: 0.9;
	color: #00247f; 
	background: white;
	border-radius: 10px;
	
}
a:active
{
	opacity: 0.8;
    background: linear-gradient(to left, white, yellow, green);
	margin-top: 4px;
	border-radius: 50%;
	font-size: 120%;
}

.foto{
	height: 16rem;	
	border-radius: 15px;
	/* box-shadow: 2px 2px 6px #001aff; */
	box-shadow: 2px 2px 6px #0059ff;
}
img{
	margin-top: 0px;
	border-radius: 10px;
}
#imgingrid8{
	margin-top: 50px;
	
}
.divfoto{
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.671);
	text-align: center;
	margin-bottom: 145px;
	animation: right 4s 1;
	position: relative;
	overflow: hidden;
}
#divfoto3{
	width: 31rem;
}

.divfoto p{
	width: 300px;
	display: inline-block;
	color: #000000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}
span{
	font-size: 126%;
	font-family: cursive;
}
iframe{
	margin: 0px;;
	width:400px;
	height:280px;
	border: 4px rgba(0, 255, 34, 0.527) solid;
	border-radius: 8px;
}
/* grid-contener-------------------------------------- */

.grid-container {	
	margin-left: 0,5rem;
	margin-top: 3%;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 0px;	
}
@keyframes right{

	0%{left:80%}
	100%{left:0;}
	}
/* ----------------------------telefoon----------------------------------- */

@media only screen and (max-width: 600px) {
	body {
		background-color: #50df250c;
	}
	nav{
		height: auto;
		margin-left: 1%;
		width: 95%;
	}
	nav ul li a{
		margin: 4px 5px 0px 5px;
		font-size: 130%;
	}
	/* ------------grid------------ */
	.grid-container {
		margin-top: 7%;
		text-align: center;
		display: grid;
		grid-template-columns: 1fr;
	}
	.divfoto{
		border-radius: 15px;
		background: #eaf0fc9d;
		text-align: center;
		width:100%;
		margin-bottom: 1.2rem;
	}
	#divfoto3{
		width: 100%;
	}
	.divfoto p{
		width: 230px;
		display: inline-block;
		vertical-align: top;
	}
	.foto{
		/* margin-left: -4rem; */
		display: grid;
		width: 8rem; 
		height: 8rem;
		display: inline-block;
		margin-left: -3rem;
	}
	#imgingrid2{
		/* filter: invert(100%); */
		height: 11rem;
	}
	#imgingrid3{
		/* filter: invert(100%); */
		width: 19rem;
		height: 12rem;
		margin-left: 0rem;
	}
	iframe{
		height: 20rem;
		width: 20rem;
		border: 4px rgb(123, 255, 0) solid;
	}
};

