/* aanmaak datum:18/12/2018, 13:40,  
Author: Mohamad Dian*/

:root{
	--color1: #1af186f5; 
	--color2: red;
	--color3: blue;
	--box-shadow: 1px 2px 5px#3d3d5c;
}
body
{
	background-color: #e6e6ff;
	background-image: url("../images/1.png");
}

/* filter: blur(8px);
-webkit-filter: blur(8px); */


nav{ 
	margin-left:  5%;
	padding: 2px;
	height: 30px;
	width: 87%;
	/* box-shadow: 2px 3px 5px #0a0a0f; */
	border-width: 0px 0px 1px 0px;
	border-style: double;
	border-color:  #8080ff;
	border-radius: 5px;
	overflow: hidden;
    text-align: center;
	font-style: none;
	position: fixed;
	box-shadow: inset 1px 1px 5px 1px #0066ffad;
	
	background-color: #00053025;
	
	background-size: cover;
	
	/* background-color: #404040;	 */
	/* background: linear-gradient(to right, #ffff99 20%, #f2f2f2 60%, #b3ffb3); */
}
nav ul{
	display: inline-block;
	/* overflow: hidden;*/
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	vertical-align: center;
	float: left;
}
nav ul li a{
	font-size: 110%;
	font-family: Berlin Sans FB;
	color: white;
	
    border-width: 1.5px  0px 1.5px 0px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
	margin: 1px 15px 5px 15px;
	padding: 2px 2px 2px 2px;
	background-color: #00247f;
	/* box-shadow: 4px 8px 11px #404040; */
	
	text-decoration: none;
	display: inline-block;

	/*
	#1af1d4f5 backgroung aaaaa
	height: 30px;
	border: 1px solid #4d0000; 
	 */
}
.foto:hover{
	filter: invert(100%); 
}
a:hover
{
	opacity: 0.9;
	color: #00247f; 
	background: white;
	border-radius: 50px;
	
}
a:active
{
	opacity: 0.8;
    background: linear-gradient(to left, white, yellow, green);
	margin-top: 4px;
	border-radius: 50%;
	font-size: 120%;
}

.foto{
	height: 16rem;	
	border-radius: 15px;
	box-shadow: 2px 2px 6px #001aff;
}
.divfoto{
	border-radius: 15px;
	background: white;
	text-align: center;
}
#divfoto3{
	width: 31rem;
}

.divfoto p{
	width: 300px;
	display: inline-block;
	color: #000000;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}
/* grid-contener-------------------------------------- */

.grid-container {	
	height: 16rem;
	margin-left: 0,5rem;
	margin-top: 3%;
    display: grid;
	grid-template-areas: 'myArea myArea myArea';
	grid-gap: 10px;
	padding: 0px;	
}

/* ----------------------------telefoon----------------------------------- */

@media only screen and (max-width: 600px) {
	body {
		background-color: #50df250c;
	}
	nav{
		height: auto;
		margin-left: 1%;
		width: 95%;
	}
	nav ul li a{
		margin: 4px 5px 0px 5px;
		font-size: 130%;
	}
	/* ------------grid------------ */
	.grid-container {
		margin-top: 10%;
		text-align: center;
		display: grid;
		grid-template-areas: 'myArea';	
	}
	.divfoto{
		border-radius: 15px;
		background: #eaf0fc9d;
		text-align: center;
		width: 350pt;
	}
	.divfoto p{
		margin-left: 0px;
		width: 300px;
		display: inline-block;
		vertical-align: top;
	}
	.foto{
		/* margin-left: -4rem; */
		display: grid;
		width: 8rem; 
		height: 8rem;
		display: inline-block;
	}
	#imgingrid2{
		/* filter: invert(100%); */
		height: 11rem;
	}
	 
}

